html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #f7f7f7;
}

*,
* :before,
* :after {
  box-sizing: border-box;
}

/* Wrapper
=================*/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

/* FullScreen
=================*/

.fullscreen {
  min-width: 10vw;
  min-height: 100vh;
  display: flex;
  margin: 0px;
  padding: 5px 0px;
}

/* FullScreen Body
=================*/

.fullscreen_body {
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
}

/* header_logo
=================*/

.header_logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: left;
  margin-top: 9px;
  margin-left: -13px;
  position: relative;
}

/* Header
=================*/

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header_profile {
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.btn_profile {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin-right: 5px;
  font-size: 20px;
}

/* Sub_info_profile
=================*/

.sub_info_profile {
  display: flex;
  align-content: space-around;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
}

.btn_profile:hover {
  text-decoration: underline;
}

/*==============================*/

.btn_profile:hover .sub_menu_profile {
  opacity: 1;
  visibility: visible;
  transform: translate(0px 0px);
  pointer-events: all;
}

.btn_profile:hover + .sub_info_profile {
  transform: rotate(-180deg);
  transition-delay: -500ms;
}

/*==============================*/

.sub_menu_profile {
  display: block;
  width: 230px;
  height: 320px;
  background-color: #fff;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 15px;
  position: absolute;
  top: 40px;
  right: 5%;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.user_avatar {
  width: 100px;
  height: 100px;
  display: block;
  margin: 30px auto;
}

.name_user {
  font-size: 24px;
  text-align: center;
}

.post_user {
  text-align: center;
  font-size: medium;
  font-weight: 300;
}

.header_line {
  display: flex;
  border-bottom: 2px solid #bfbcbc;
  margin: 0 5% 34px;
}

/* User Panel
=================*/

.user_panel {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

/* Column_View
=================*/

.column_view {
  display: inline-block;
  width: 60vw;
  height: 100%;
  margin: 0px 34px 0px 0px;
}

/* View
=================*/

#video-player {
  width: 100%;
  height: 58vh;
  object-fit: cover;
  /* object-position: left;
  position: relative; */
}

/* Profile
=================*/

.profile_top {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}

.profile_bottom {
  max-width: 100%;
  min-height: 21vh;
  display: flex;
  justify-content: space-between;
}

.look {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.eye {
  width: 36px;
  height: 36px;
  margin-right: 4px;
}

.pageview {
  text-align: center;
  display: inline;
  margin: 0;
}

.profile_info {
  width: 60%;
  min-height: 100%;
  margin-right: 15px;
}

.calendar {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.data {
  text-align: center;
  display: inline;
  padding-right: 2px;
  margin: 0;
}

.user_calendar {
  width: 40%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  border-radius: 21px;
}

/* Column_List
=================*/

.column_list {
  display: inline-block;
  width: 40vw;
  height: 100%;
}

.head_list {
  height: 80vh;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 3px 5px #b3b3b3;
  margin: 0px;
}

.text_head_list {
  font-size: 28px;
  margin: 0px;
  padding-bottom: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head_list hr {
  margin: 0px;
  border-style: solid;
  color: #bfbcbc;
}

/* List_visitors
=================*/

.list_visitors {
  /* margin-top: 25px; */
  width: 100%;
  height: 92%;
}

/* Mobile Version
=================*/

@media (max-width: 375px) {
  .header_logo {
    max-width: 40%;
    object-fit: contain;
    object-position: left;
  }
}

/* Desktop Version
=================*/

@media (max-width: 1440px) and (max-height: 800px) {
  .text_head_list {
    font-size: 26px;
  }
  .user_panel {
    min-height: 50vh;
  }
  .profile_bottom {
    min-height: 14vh;
  }
  .list_visitors {
    height: 91.1%;
  }
}

@media (min-height: 954px) {
  .text_head_list {
    font-size: 31px;
  }
  .profile_bottom {
    min-height: 21vh;
  }
  .list_visitors {
    height: 93%;
  }
}

@media (min-height: 985px) {
  .text_head_list {
    font-size: 36px;
  }

  .profile_bottom {
    min-height: 18vh;
  }
}
